html,
body,
#root {
  height: 100%;
}

:root {
  --bg: #0a0a0a;
  --panel: #111;
  --panel-2: #01a048;
  --cWhite: #ffffff;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--cWhite);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 16px;
  padding: 16px;
}

.sidebar {
  background-color: var(--panel);
  border: 1px solid var(--cWhite);
  border-radius: 10px;
  overflow: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}